<!DOCTYPE html>
<html lang="en">

<head>
  <!-- basic -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- mobile metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <!-- site metas -->
  <title>you</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- favicon -->
  <link rel="icon" href="../static/assets/img/favction.png" type="image/gif" />
  <!-- bootstrap css -->
  <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
  <!-- style css -->
  <link rel="stylesheet" href="../static/assets/css/style2.css">
  <link rel="stylesheet" href="../static/assets/css/sty.css">
  <!-- Responsive-->
  <link rel="stylesheet" href="../static/assets/css/responsive.css">
  <!-- Scrollbar Custom CSS -->
  <link rel="stylesheet" href="../static/assets/css/jquery.mCustomScrollbar.min.css">
  <!-- Tweaks for older IEs-->
  <link rel="stylesheet" href="../static/assets/css/font-awesome.css">
<!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">-->
<!--[if lt IE 9]>
<script src="../static/assets/js/html5shiv.min.js"></script>
<script src="../static/assets/js/respond.min.js"></script><![endif]-->
</head>
<!-- body -->

<body class="main-layout">
  <!-- loader  -->
<!--  <div class="loader_bg">-->
<!--    <div class="loader"><img src="images/loading.gif" alt="#" /></div>-->
<!--  </div>-->
  <!-- end loader -->
  <!-- header -->
  <header>
    <!-- header inner -->
    <div class="header-top">
      <div class="header">
        <div class="container">
       </div>
     </div>
     <!-- end header inner -->
     <!-- end header -->
     <section class="slider_section">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">

            <div class="container">
<!--&lt;!&ndash;<div class="carousel-caption">&ndash;&gt;-->
                <div class="row">
                  <div class="col-md-12">
                    <div class="text-bg">
                      <span>Hello Word</span>
                      <h1>The world is gentle</h1>
                      <a clss ='mnav' href="http://jujuba.top/love" name="1">Sakura</a>
                        <h2>
                            <b>Hi, nice to see you.</b>
                        </h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>



</section>
</div>
</header>




          <script src="../static/assets/js/jquery.min.js"></script>
          <script src="../static/assets/js/popper.min.js"></script>
          <script src="../static/assets/js/bootstrap.bundle.min.js"></script>
          <script src="../static/assets/js/jquery-3.0.0.min.js"></script>
          <script src="../static/assets/js/plugin.js"></script>
          <!-- sidebar -->
          <script src="../static/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
          <script src="../static/assets/js/custom.js"></script>
<!--          <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>-->




</body>

</html>